@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container {
    background: #121212;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 300px;
    background: #fff;
    position: relative;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    width: 100px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.nav-active {
    background: teal;
    width: 100px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s all;
}